@import url(https://fonts.google.com/specimen/Jacquard+12);
:root{
    --cor-de-fundo: #091D57;
    --branco: #FFFFFF;
    --ciano: #7679C0;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: "Chakra Petch", sans-serif;
}
.Conteudo-principal { display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.Titulo-principal { text-align: left;
        width: 100%;
        font-size: 32px;
}
.Titulo-principal span {
            color: var(--verde);
}
